body#layout .theme-opt {
	display: block!important;
}
body#layout #outer-wrapper, body#layout .row{padding:0;width:800px}
body#layout .section h4{margin:2px 0 8px;color:#333!important}
body#layout .ibpanel{background-color:#2c3e50!important;overflow:hidden!important;border-color:#213243!important}
body#layout .ibpanel h4{font-size:16px;padding:0;color:#fff!important}
body#layout .ibpanel .widget{float:left;width:30%;margin-right:5%}
body#layout .ibpanel #HTML902,body#layout .ibpanel #HTML905{margin-right:0}
body#layout .ibpanel .widget.locked-widget .widget-content{background-color:#34495e!important;border-color:#455668!important;color:#fff!important}
body#layout .ibpanel .widget.locked-widget .widget-content a.editlink{color:#fff!important;border:1px solid #233648;border-radius:2px;padding:0 5px;background-color:#233648}
body#layout #topnav,body#layout .tm-head{height:auto}
body#layout .tm-menu{margin:0;width:70%}
body#layout .social-area{margin:0;width:30%}
body#layout .header-content,body#layout #header-blog{height:auto;padding:0}
body#layout .header-logo{float:left;width:30%;max-width:30%;max-height:none;margin:0;padding:0}
body#layout .header-logo #header{background-color:#b57dcc!important;border-color:#8a52a1!important}
body#layout .header-ads{height:auto;width:70%}
body#layout #menu,body#layout #menu1{display:block;background-color:#6dad88;border-color:#338957}
body#layout #main-nav,body#layout .header-menu{height:auto}
body#layout .header-menu li.li-home,body#layout .header-search{display:none}
body#layout .header-menu{float:left;width:100%;margin:4px 0 0;padding:0}
body#layout #content-wrapper{margin:0 auto}
body#layout .box-sec .widget-content,body#layout .box-sec h2{display:block}
body#layout #main-wrapper{float:left;width:70%;margin:0;padding:0}
body#layout .posts-title{display:none}
body#layout #sidebar-wrapper{float:right;width:30%;margin:0;padding:5px 0 0;background-color:#f8e244!important}
body#layout #sidebar-wrapper .section{background-color:#fff;border:1px solid #fff}
body#layout #sidebar-wrapper .section .draggable-widget .widget-wrap2{background-color:#5a7ea2!important}
body#layout #footer-wrapper{overflow:hidden}
body#layout .sect-left{width:27.8%;float:left;margin:0 5px 8px !important}
body#layout #blocked-widgets,body#layout #pop-sec,body#layout #contact{display:none!important}
body#layout #featured-sec{background-color:#f9a85f;border-color:#fb8f3d}
body#layout #featured-sec .draggable-widget .widget-wrap2{background-color:#fb8f3d!important}
body#layout #featured-sec .add_widget{border-color:#fb8f3d}
body#layout #main-wrapper #main{margin-right:4px;background-color:#5a7ea2;border-color:#34495e}
body#layout #main-wrapper #main h4{color:#fff!important}
body#layout .layout-widget-description{display:none!important}
body#layout .box-sec{background-color:#7fc1ed!important;border-color:#3498db!important}
body#layout .box-sec .draggable-widget .widget-wrap2{background-color:#3498db!important;cursor:move}
body#layout .box-sec .add_widget{border-color:#3498db}
body#layout #sidebar{margin-top:10px}
body#layout .widget-content .editlink{color:#fff!important;border:1px solid #233648;border-radius:2px;padding:0 5px;background-color:#233648}
body#layout #footer{overflow:hidden;background-color:#1abc9c;padding-top:10px;margin-bottom:10px}
body#layout #footer:before{content:"Footer Sections";font-size:25px;color:#fff;padding:0 0 10px;text-align:center;display:block;font-family:raleway}
body#layout #footer .section .draggable-widget .widget-wrap2{background-color:#1abc9c!important}
body#layout #footer-sec3{margin-right:0}
body#layout #ads-content{background-color:rgba(241,196,16,0.22);border-color:#f1c410}
body#layout #ads-content .add_widget{border-color:#f1c410!important}
body#layout #ads-content .draggable-widget .widget-wrap2,body#layout #ads-inter .draggable-widget .widget-wrap2{background-color:#f1c410!important;cursor:move}
body#layout .native-opt li{list-style:none}